<section class="ui segment">
  <header class="ui header">
    <i class="list icon"></i> Previous Assessments
  </header>
  <table class="ui fixed table">
    <thead>
      <tr>
        <th>Date & Time</th>
        <th>Weight (kg)</th>
        <th>Chest (cm)</th>
        <th>Thigh (cm)</th>
        <th>Upper Arm (cm)</th>
        <th>Waist (cm)</th>
        <th>Hips (cm)</th>
        <th>Weight Tracking</th>
        <th>Trainer Comment</th>
        <th>Delete Assessment</th>
      </tr>
    </thead>
    <tbody>
      {{#each assessments}}
          <tr>
            <td class="ui item"> {{date}} </td>
            <td class="ui item"> {{weight}} </td>
            <td class="ui item"> {{chest}} </td>
            <td class="ui item"> {{thigh}}</td>
            <td class="ui item"> {{upperarm}}</td>
            <td class="ui item"> {{waist}}</td>
            <td class="ui item"> {{hips}}</td>
            <td class="ui item"> {{#if weightTrend}}<i class="large green arrow circle down icon"></i>
                                 {{else}}<i class="large red arrow circle up icon"></i>{{/if}}</td>
            <td class="ui item"> {{comment}}</td>
            <td><a href="/memberdashboard/removeassessment/{{id}}"><button class="ui tiny red button">Delete</button></a></td>
          </tr>
      {{/each}}
    </tbody>
  </table>
</section>