<section class="ui segment">
    <header class="ui header">
        <i class="yellow trophy icon"></i></i> Goal History
    </header>
    <table class="ui fixed table">
        <thead>
        <tr>
            <th>Date</th>
            <th>Target Weight (kg)</th>
            <th>Additional Target</th>
            <th>Target Measurement (cm)</th>
            <th>Status</th>
        </tr>
        </thead>
        <tbody>
        {{#each goals}}
            <tr>
                <td class="ui item"> {{date}} </td>
                <td class="ui item"> {{targetWeight}} </td>
                <td class="ui item"> {{additionalTarget}} </td>
                <td class="ui item"> {{additionalTargetValue}} </td>
                <td class="ui item"> {{checkGoalStatus this}} </td>
            </tr>
        {{/each}}
        </tbody>
    </table>
</section>